<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.ebs.mapper.faqMapper">
<select id="faqList" resultType="FaqDTO">
	select * from faq order by readcount desc
</select>
<select id="cnoFaqList" resultType="FaqDTO" parameterType="int">
	select * from faq where category = #{cno} order by readcount desc
</select>
<select id="readcountFaqList" resultType="FaqDTO">
	select * from faq where readcount > 10 order by readcount desc
</select>
<update id="faqReadcount" parameterType="int">
	update faq set readcount = readcount + 1 where num = #{num}
</update>
<select id="faqSearch" resultType="FaqDTO" parameterType="String">
	select * from faq where question like '%'||#{keyword}||'%' or answer like '%'||#{keyword}||'%' order by readcount desc
</select>
</mapper>